version: "3.6"
services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: 'gitlab.yfjz.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.yfjz.com'
        gitlab_rails['gitlab_shell_ssh_port'] = 2224
    ports:
      - '80:80'
      - '2224:22'
    volumes:
      - '/mnt/work/gitlab/config:/etc/gitlab'
      - '/mnt/work/gitlab/logs:/var/log/gitlab'
      - '/mnt/work/gitlab/data:/var/opt/gitlab'
